body {
    height: 100vh;
}

.navbar {
    background: #243A5D;
    height: 70px;
}

.navbar-brand {
    font-size: 3.2vh;
}

.card {
    width: 25rem;
    height: 23rem;
    border-radius: 20px;
    border: 1px solid crimson;
}

.card-decreased-size {
    width: 20rem;
    height: 18rem;
}

.form-label {
    font-size: 18px;
}