<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        body {
            background: #324264;
        }
    </style>
</head>
<body>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content music-player">
            <h1 class="music-name">song one</h1>
            <p class="artist-name">artist</p>
            <div class="disk"></div>
            <div class="song-slider">
                <input type="range" value="0" class="seek-bar">
                <span class="current-time">00:00</span>
                <span class="song-duration">00:00</span>
            </div>
            <div class="controls">
                <button class="btn-music backward-btn"><img src="images/pre.png" alt=""></button>
                <button class="play-btn pause" onclick="play()">
                    <span></span>
                    <span></span>
                </button>
                <button class="btn-music forward-btn"><img src="images/nxt.png" alt=""></button>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center align-items-center h-100 w-100">
    <div class="card play-card">
        <div class="card-body d-flex flex-column align-items-center">
            <h2 class="card-title">Music</h2>
            <div class="row w-100 justify-content-center align-items-start" data-toggle="modal"
                 data-target="#exampleModal">
                <div th:each="music: ${musicList}"
                     class="music-block row w-100 align-items-center justify-content-center"
                     onclick="openWindow(this)"
                >
                    <div class="band" th:utext="${music.band}"></div>
                    <div>&nbsp;-&nbsp;</div>
                    <div class="name" th:utext="${music.name}"></div>
                    <div class="id" hidden th:utext="${music.id}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
<script src="../static/js/music.js"></script>
<script>
    let sound = undefined;
    const currentTime = $('.current-time');
    const musicDuration = $('.song-duration');
    const button = $('.play-btn');
    const disk = $('.disk');
    const seekBar = $('.seek-bar');

    function openWindow(musicRow) {
        let band = $(musicRow).find('.band').text();
        let songName = $(musicRow).find('.name').text();
        let id = $(musicRow).find('.id').text();
        setMusic(id);

        $('.music-name').text(songName);
        $('.artist-name').text(band);
        disk.css("background-image", "url(http:localhost:8080/auth/image/" + id + ")");
    }

    function setMusic(id) {
        seekBar.val(0);
        sound = load("http:localhost:8080/auth/music/" + id);

        sound.on('load', () => {
            musicDuration.html(sound.getDuration());
            seekBar.attr('max', sound.getNotFormatedDuration());
        });

        setInterval(() => {
            seekBar.val(sound.getNotFormatedTime());
            currentTime.html(sound.getCurrentTime());
        }, 500);
    }

    function play() {
        if (button.attr('class').includes('pause')) {
            sound.play();
        } else {
            sound.pause();
        }
        button.toggleClass('pause');
        disk.toggleClass('play');
    }

    seekBar.on('change', () => {
        sound.setCurrentTime(seekBar.val());
    });
    $('.modal').on('hidden.bs.modal', () => {
        sound.unload();
        button.addClass('pause');
        musicDuration.html('00:00');
        disk.removeClass('play');
    });

</script>
</html>